@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'kalam', cursive;
    font-family: 'Itim', cursive;
}
.ask_login{
    margin:300px auto;
    max-width: max-content;
}#ask_login_span{
    font-size: 120%;
    font-weight: 600;
    color: #3a4448;
}#ask-fa-triangle-exclamation{
    font-size: 150%;
    color: #ff5500;
    padding-right: 10px;
}#ask_login_href{
    display: block;
    text-align: end;
    font-size: 130%;
    font-weight: 600;
    padding-top: 10px;
    margin-right: 25px;
}