@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Itim', cursive;
}
.fa-arrow-left:hover{
    color: #ff1c1c;
}
.fa-arrow-left{
    color: red;
    font-size: 150%;
    z-index: 4;
    position: fixed;
    top: 30px;
    left: 30px;
}
.img{
    height: 180px;
    margin-top: 30px;
    position: relative;
    text-align: center;
}
.img::after{
    left: 0;
    right: 0;
    content: "";
    bottom: -75px;
    height: 120px;
    border-radius: 50%;
    position: absolute;
    background-color: #fffefe;
}
.form{
    z-index: 12;
    display: flex;
    margin-top: 20px;
    position: relative;
    align-items: center;
    flex-direction: column;
}
.form #text{
    font-size: 200%;
    margin-bottom: 60px;
}
.form form input{
    width: 200px;
    border: none;
    padding: 7px;
    outline: none;
    font-size: 110%;
    margin: 10px 10px 20px 10px;
    border-bottom: 2px solid gray;
}
.form .signup {
    margin-top: -15px;
    text-align: end;
    padding: 0 20px;
}
.form .btn {
    border: none;
    color: white;
    cursor: pointer;
    font-weight: 600;
    padding: 10px 30px;
    border-radius: 10px;
    background-color: coral;

}
.form .btn{
    margin-top: 50px;
    text-align: center;
}